Has the network latency gone up since we switched internet service providers?

In [1]:
# Null Hypothesis

# The internet service provider has zero effect on the network latency

In [2]:
# Alternative Hypothesis

# The internet service provider helped increase the network latency.

In [3]:
# True positive, true negative, type I and type II errors

# True positive = I disagree that the ISP has no effect on network latency
# and results prove that there is a relation between ISP and network latency.
# True negative = I agreed there is no relation between ISP and network latency
# and the results show that there isn't a relationship between ISP and network latency.

# Type I error = I disagree that the ISP has no effect on network latency, but results 
# shows that there actually is no relation between ISP and network latency.
# Type II error = I agree that there is no relation between ISP and network latency, but
# results show that there is a relation between ISP and netowrk latency.

Is the website redesign any good?

In [4]:
# Null Hypothesis

# The website redesign is not good.

In [5]:
# Alternative Hypothesis

# The website redesign is good.

In [9]:
# True positive, true negative, type I and type II errors

# True Positive = I disagree that the redesign was good and it ends up actually not 
# being good
# True Negative = I agree that the redesign is good and it end up being good.
# Type I Error = I disagree that the redesign was good, but results say that it was good.
# Type II Error = I agree that the redesign is good, but the results say that it was NOT good.

Is our television ad driving more sales?

In [7]:
# Null Hypothesis

# Television ads have no effect on sales

In [8]:
# Alternative Hypothesis

# Television ads drive more sales

In [10]:
# True positive, true negative, type I and type II errors

# True Positive = I disagree with the statement that TV ads have no effect on sales and 
# the results return that tv ads do have an effect on sales.
# True Negative = I agree with the statement that TV ads have no effect on sales and the
# results return that tv ads indeed do not have an effect on sales.
# Type I Error = I disagree with the statement that TV ads have no effect on sales, but the
# results return that tv ads indeed do NOT have an effect on sales.
# Type II Error = I aggree with the statement that TV ads have no effect on sales, but the 
# results return that tv ads actually do have an effect on sales.

In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [ ]:
# H0: The average time it takes to sell homes for office 1 is NO different than the time it takes to sell homes for
# office 2.

# Ha: The average time it takes to sell homes for office 1 is different than the time it takes to sell homes for
# office 2.

In [12]:
σ = 0.05

In [ ]:
# This situation would require a two sample, two tail ttest or Independent T-Test
# It is normal distribution (more than 30 samples for each sample group)
# I would imagine they are independent samples since they are categorized as samples for separate offices.
# No equal variances

In [13]:
t, p = stats.ttest_ind_from_stats(90, 15, 40, 100, 20, 50, equal_var=False)

In [14]:
t

-2.7091418459143854

In [15]:
p

0.00811206270346016

In [18]:
if (t>0) and (p > σ):
    print("we can reject the null hypothesis")
else:
    print("we cannot reject the null hypothesis")

we cannot reject the null hypothesis

Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [21]:
from pydataset import data
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [19]:
# H0: The fuel-efficiency of cars in 2008 is == the fuel-efficiency of cars in 1999

# Ha: The fuel-efficiency of cars in 2008 is != the fuel-efficiency of cars in 1999

In [33]:
older_sample = mpg[mpg.year == 1999]['displ']
newer_sample = mpg[mpg.year == 2008]['displ']

In [34]:
t_fuel, p_fuel = stats.ttest_ind(older_sample,newer_sample,equal_var=False)

In [35]:
t_fuel

-2.276895793966093

In [36]:
p_fuel

0.023704907600218282

In [37]:
if p < 0.05:
    print("we can reject the null hypothesis")
else:
    print("we cannot reject the null hypothesis")

we can reject the null hypothesis

Are compact cars more fuel-efficient than the average car?

In [38]:
# H0:  Compact car's fuel efficiency is =< the fuel efficiency of the avg car

# Ha:  Compact car's fuel efficiency is > the fuel efficiency of the avg car

In [45]:
compact_sample = mpg[mpg['class'] == 'compact']['displ']
avg_pop = mpg.displ.mean()

In [46]:
t, p = stats.ttest_1samp(compact_sample, avg_pop)

In [47]:
t

-17.37528836118404

In [49]:
p/2

3.8597399026430325e-22

In [50]:
if (t > 0) and (p/2 > 0.05):
    print("we can reject the null hypothesis")
else:
    print("we cannot reject the null hypothesis")

we cannot reject the null hypothesis

Do manual cars get better gas mileage than automatic cars?

In [51]:
# H0: Manual cars gas mileage is =< automatic cars gas mileage

# Ha: Manual cars gas mileage is >  automatic cars gas mileage

In [54]:
(mpg.cty/mpg.hwy)*100

1      62.068966
2      72.413793
3      64.516129
4      70.000000
5      61.538462
         ...
230    67.857143
231    72.413793
232    61.538462
233    69.230769
234    65.384615
Length: 234, dtype: float64

In [55]:
mpg['gas_mileage'] = round((mpg.cty/mpg.hwy)*100,2)

In [56]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,gas_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,62.07
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,72.41
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,64.52
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,70.00
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,61.54
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,67.86
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,72.41
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,61.54
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,69.23
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,65.38

In [61]:
mpg.trans.unique()

array(['auto(l5)', 'manual(m5)', 'manual(m6)', 'auto(av)', 'auto(s6)',
       'auto(l4)', 'auto(l3)', 'auto(l6)', 'auto(s5)', 'auto(s4)'],
      dtype=object)

In [70]:
man_sample = mpg[(mpg.trans == 'manual(m5)') | (mpg.trans == 'manual(m6)')]['gas_mileage']

auto_sample = mpg[(mpg.trans != 'manual(m5)') & (mpg.trans != 'manual(m6)')]['gas_mileage']

In [71]:
t, p = stats.ttest_ind(man_sample, auto_sample, equal_var=False)

In [72]:
t

0.8003829262273052

In [73]:
p

0.4248671789945586

In [74]:
if (t > 0) and (p/2 > 0.05):
    print("we can reject the null hypothesis")
else:
    print("we cannot reject the null hypothesis")

we can reject the null hypothesis