For the following problems, use python to simulate the problem and calculate an experimental probability, then compare that to the theoretical probability.

1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

- What is the probability that no cars drive up in the noon hour?
- What is the probability that 3 or more cars come through the drive through?
- How likely is it that the drive through gets at least 1 car?

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
λ = 2 
drive_thru_dist = stats.poisson(λ)

In [5]:
drive_thru_dist.pmf(0)

0.1353352832366127

In [6]:
drive_thru_dist.sf(2)

0.32332358381693654

In [7]:
drive_thru_dist.cdf(1)

0.40600584970983794

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [8]:
μ = 3
σ = .3

grades_dist = stats.norm(μ,σ)

In [10]:
grades_dist.isf(.05)

3.4934560880854417

In [11]:
grades_dist.ppf(.15)

2.689069983151863

In [15]:
ceiling = grades_dist.isf(.2) #3.3
floor = grades_dist.ppf(.3) #2.8

In [17]:
# the 3rd decile ranges from 2.8 to 3.3 so a student with a 2.8 will qualify for the
# scholarship

In [20]:
grades_dist.sf(3.5) # a 3.5 will put you in the top 5% of your class

0.0477903522728147

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [28]:
visits = 4326
clicks = 97
s_rate = .02

In [30]:
web_dist = stats.binom(visits,s_rate)

In [31]:
web_dist.pmf(clicks)

0.021942930454375544

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

- What is the probability that at least one of your first 60 answers is correct?

In [33]:
n = 100
p = .01

stat_hw_dist = stats.binom(n,p)

In [34]:
stat_hw_dist.cdf(60)

1.0

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [41]:
students = 59
chance = .03

cleaning_dist = stats.binom(students,chance)

In [42]:
cleaning_dist.pmf(1)

0.30250590303772024

In [43]:
cleaning_dist.pmf(2)

0.27131972746682126

In [44]:
cleaning_dist.pmf(5)

0.02348574035753637

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [54]:
μ = (15*2)+10
σ = (3*2)

panaderia_dist = stats.norm(μ,σ)

In [56]:
panaderia_dist.cdf(45)

0.7976716190363569

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

-  What percent of employees earn less than 60,000?
- What percent of employees earn more than 95,000?
- What percent of employees earn between 65,000 and 80,000?
- What do the top 5% of employees make?

Hint If you're looking at this exercise and wondering "How do I get pandas to talk the database, again?", remember that you'll need 3 things: your .gitignore, your env.py, and to use pd.read_sql. Copy over your .gitignore and env.py from your data science libraries exercises folder, and connect to the employees database like so:

In [60]:
from env import user,password,host

In [61]:
schema = 'employees'

get_db_url = f'mysql+pymysql://{user}:{password}@{host}/{schema}'

query ='''
SELECT
*
FROM salaries;
'''

In [62]:
salary = pd.read_sql(query, get_db_url)
salary.head()

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10001   62102  1987-06-26  1988-06-25
2   10001   66074  1988-06-25  1989-06-25
3   10001   66596  1989-06-25  1990-06-25
4   10001   66961  1990-06-25  1991-06-25

In [66]:
avg_salary= round(salary.salary.mean(),2)
avg_salary

63810.74

In [70]:
std = round(salary.salary.std(),2)
std

16904.83

In [71]:
salary_dist = stats.norm(avg_salary, std)

In [72]:
salary_dist.cdf(60_000)

0.4108250526452645

In [73]:
salary_dist.sf(95_000)

0.03251942050035832

In [74]:
salary_dist.cdf([65_000,80_000])

array([0.52804258, 0.83088558])

In [75]:
83-53

30

In [76]:
salary_dist.isf(.05)

91616.71093849807