In [122]:
import numpy as np
import pandas as pd
import collections

1. How likely is it that you roll doubles when rolling two dice?

In [10]:
outcomes = [1,2,3,4,5,6]

n_sim = 100_000

n_trials = 2

In [11]:
rolls = np.random.choice(outcomes,(n_sim,n_trials))
rolls

array([[5, 6],
       [5, 4],
       [1, 6],
       ...,
       [3, 2],
       [5, 1],
       [5, 2]])

In [127]:
dice_df = pd.DataFrame(rolls)
dice_df

       0  1
0      5  6
1      5  4
2      1  6
3      4  1
4      2  4
...   .. ..
99995  1  4
99996  1  6
99997  3  2
99998  5  1
99999  5  2

[100000 rows x 2 columns]

In [135]:
dice_df.sort_index(axis=1)

       0  1
0      5  6
1      5  4
2      1  6
3      4  1
4      2  4
...   .. ..
99995  1  4
99996  1  6
99997  3  2
99998  5  1
99999  5  2

[100000 rows x 2 columns]

In [136]:
dice_df['is_duplicate'] = np.where((dice_df[0]+dice_df[1])/2 ==dice_df[0], 'yes', 'no')

In [156]:
dupe_total = len(dice_df[dice_df.is_duplicate == 'yes'])

In [157]:
dupe_total / n_sim

0.16368

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [9]:
c_outcomes = ['H','T']

c_sim = 10_000

c_trials = 8

In [13]:
flips = np.random.choice(c_outcomes,(c_sim,c_trials))
flips

array([['T', 'T', 'T', ..., 'T', 'H', 'H'],
       ['H', 'H', 'H', ..., 'H', 'H', 'H'],
       ['T', 'H', 'T', ..., 'H', 'H', 'T'],
       ...,
       ['H', 'H', 'H', ..., 'H', 'H', 'T'],
       ['T', 'T', 'T', ..., 'H', 'T', 'T'],
       ['T', 'H', 'T', ..., 'T', 'H', 'T']], dtype='<U1')

In [15]:
head_count =(flips == 'H').sum(axis=1)
head_count

array([3, 6, 5, ..., 5, 2, 4])

In [16]:
heads3 = (head_count == 3).mean()
heads3

0.2121

In [18]:
more_than_three = (head_count > 3).mean()
more_than_three

0.6418

3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [19]:
codeup_outcome = ['W1','W2','W3','D1']

codeup_sim = 10_000

codeup_trials = 2

In [20]:
drive = np.random.choice(codeup_outcome,(codeup_sim,codeup_trials))
drive

array([['W3', 'W2'],
       ['W2', 'W2'],
       ['D1', 'W1'],
       ...,
       ['W3', 'W3'],
       ['D1', 'D1'],
       ['D1', 'D1']], dtype='<U2')

In [22]:
ds = (drive == 'D1').sum(axis=1)
ds

array([0, 0, 1, ..., 0, 2, 2])

In [24]:
ds_odds = (ds == 2).mean()
ds_odds

0.0615

4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [29]:
days = 5

pt_count = 17

In [30]:
poptarts = np.random.normal(3,1.5,size=10_000)
poptarts

array([5.01572113, 4.12367034, 4.45429655, ..., 4.11839249, 2.9803887 ,
       5.21612659])

In [33]:
poptarts.mean()

3.0312053045031653

In [34]:
pt_odds = pt_count - (days * poptarts.mean())
pt_odds

1.8439734774841732

5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate   observations.
- If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [35]:
m_height = np.random.normal(178, 8, size=10_000)
f_height = np.random.normal(170, 6, size=10_000)

In [36]:
tall_f = (f_height > m_height).sum()
tall_f

2110

In [38]:
f_odds = (f_height > m_height).mean()
f_odds

0.211

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

- What is the probability that we observe an installation issue within the first 150 students that download anaconda?

- How likely is it that 450 students all download anaconda without an issue?

In [39]:
conda_outcome = 1/250
conda_outcome

0.004

In [55]:
conda_sim = 450

installs = np.random.random((conda_sim, 1))
installs

array([[0.56560066],
       [0.71307702],
       [0.91312005],
       [0.92159958],
       [0.04126921],
       [0.26218667],
       [0.939476  ],
       [0.63807044],
       [0.12660543],
       [0.63625225],
       [0.28034592],
       [0.21316157],
       [0.55770296],
       [0.03057572],
       [0.91016727],
       [0.25107916],
       [0.19136683],
       [0.82944175],
       [0.60987893],
       [0.4878772 ],
       [0.13092708],
       [0.51637515],
       [0.35949288],
       [0.14072868],
       [0.8283121 ],
       [0.22281808],
       [0.75056687],
       [0.20066118],
       [0.50423366],
       [0.90000529],
       [0.05566179],
       [0.11858241],
       [0.26677198],
       [0.12475228],
       [0.76998606],
       [0.0941129 ],
       [0.48884904],
       [0.67501994],
       [0.72199356],
       [0.75150492],
       [0.30947996],
       [0.1111055 ],
       [0.80930685],
       [0.95071569],
       [0.32700561],
       [0.07315689],
       [0.30908182],
       [0.51031676],
       [0.73127001],
       [0.43057921],
       [0.98331745],
       [0.86283907],
       [0.68254634],
       [0.55421196],
       [0.64313736],
       [0.32752486],
       [0.5958331 ],
       [0.95343048],
       [0.90799398],
       [0.74623888],
       [0.48023811],
       [0.79216883],
       [0.67647304],
       [0.31257209],
       [0.25243887],
       [0.920291  ],
       [0.66484344],
       [0.65979556],
       [0.56589286],
       [0.90109747],
       [0.25276093],
       [0.34978233],
       [0.07750019],
       [0.76263576],
       [0.21830013],
       [0.64884372],
       [0.01295079],
       [0.3940011 ],
       [0.55481709],
       [0.18899165],
       [0.30815954],
       [0.08489404],
       [0.55726569],
       [0.07054001],
       [0.98048705],
       [0.47841785],
       [0.5386982 ],
       [0.20178111],
       [0.65921701],
       [0.09924571],
       [0.37742743],
       [0.20786048],
       [0.47455434],
       [0.56053015],
       [0.06705035],
       [0.90683939],
       [0.99310245],
       [0.12980519],
       [0.17450731],
       [0.15877368],
       [0.16141471],
       [0.37813414],
       [0.35661202],
       [0.3232972 ],
       [0.87748341],
       [0.66904598],
       [0.05573334],
       [0.00346779],
       [0.70489989],
       [0.48513018],
       [0.44879136],
       [0.92725781],
       [0.88433555],
       [0.85167779],
       [0.31084997],
       [0.15130941],
       [0.55234065],
       [0.83588588],
       [0.66961565],
       [0.10984539],
       [0.57224826],
       [0.41323891],
       [0.75785904],
       [0.59411107],
       [0.77799055],
       [0.06454657],
       [0.55725078],
       [0.58835815],
       [0.61914406],
       [0.59783955],
       [0.47976384],
       [0.8301311 ],
       [0.98653751],
       [0.02581156],
       [0.77046941],
       [0.81733993],
       [0.36539285],
       [0.5553444 ],
       [0.69578002],
       [0.91898936],
       [0.80331956],
       [0.60550707],
       [0.34186928],
       [0.56884662],
       [0.86918754],
       [0.67287886],
       [0.29937618],
       [0.60412616],
       [0.81460852],
       [0.36755694],
       [0.07741383],
       [0.00962475],
       [0.80045264],
       [0.37317665],
       [0.54757713],
       [0.19388561],
       [0.09657181],
       [0.38344061],
       [0.73675751],
       [0.90061151],
       [0.29020939],
       [0.83896925],
       [0.04528886],
       [0.06289437],
       [0.64493884],
       [0.34715619],
       [0.23013616],
       [0.11639852],
       [0.49045297],
       [0.40543192],
       [0.28948256],
       [0.0059829 ],
       [0.04947827],
       [0.58818759],
       [0.88751247],
       [0.66680584],
       [0.82901176],
       [0.53407077],
       [0.4129132 ],
       [0.11865357],
       [0.4711113 ],
       [0.39226252],
       [0.01605662],
       [0.42972685],
       [0.70623128],
       [0.91510688],
       [0.66967817],
       [0.26595797],
       [0.64405274],
       [0.4871967 ],
       [0.81479741],
       [0.66196566],
       [0.8515311 ],
       [0.07235648],
       [0.33603718],
       [0.16867257],
       [0.24469124],
       [0.74660878],
       [0.81017457],
       [0.36867539],
       [0.13048865],
       [0.28634477],
       [0.64154036],
       [0.99132442],
       [0.64586981],
       [0.81324761],
       [0.22297148],
       [0.7207508 ],
       [0.33836729],
       [0.58034325],
       [0.30276087],
       [0.38265985],
       [0.36406266],
       [0.08885534],
       [0.37018022],
       [0.69201785],
       [0.25243569],
       [0.34850623],
       [0.53871213],
       [0.76052118],
       [0.55515677],
       [0.67738173],
       [0.48715345],
       [0.37959625],
       [0.26627452],
       [0.03818864],
       [0.76285536],
       [0.90007561],
       [0.98312383],
       [0.96741105],
       [0.61165455],
       [0.69214247],
       [0.94613611],
       [0.57108806],
       [0.70986522],
       [0.0685465 ],
       [0.62894204],
       [0.09167593],
       [0.90861469],
       [0.10327471],
       [0.34263884],
       [0.26290515],
       [0.76654463],
       [0.96562218],
       [0.58637543],
       [0.41778822],
       [0.55465174],
       [0.12193817],
       [0.67274078],
       [0.55252926],
       [0.08690755],
       [0.79100657],
       [0.08657562],
       [0.54411327],
       [0.0044357 ],
       [0.27547437],
       [0.93423996],
       [0.7198474 ],
       [0.22755953],
       [0.01276598],
       [0.19505286],
       [0.04244613],
       [0.40656829],
       [0.9962142 ],
       [0.49505953],
       [0.70526044],
       [0.17661523],
       [0.66486603],
       [0.84908996],
       [0.64318548],
       [0.03614446],
       [0.58238666],
       [0.27601062],
       [0.99682207],
       [0.90555783],
       [0.82106674],
       [0.3090762 ],
       [0.88899131],
       [0.45727662],
       [0.84454882],
       [0.74023746],
       [0.78983823],
       [0.87053236],
       [0.3182794 ],
       [0.5818362 ],
       [0.16674158],
       [0.21655473],
       [0.31460983],
       [0.53366365],
       [0.86805889],
       [0.19063785],
       [0.29224864],
       [0.1292489 ],
       [0.45254194],
       [0.85364008],
       [0.6402368 ],
       [0.70178727],
       [0.1843517 ],
       [0.62031982],
       [0.33821075],
       [0.74612543],
       [0.94989278],
       [0.38682889],
       [0.44328741],
       [0.27114182],
       [0.38475981],
       [0.86187458],
       [0.8893899 ],
       [0.16922875],
       [0.93850322],
       [0.25297427],
       [0.80497385],
       [0.65528312],
       [0.83959717],
       [0.4043685 ],
       [0.33167567],
       [0.97466251],
       [0.18516376],
       [0.4441735 ],
       [0.95191681],
       [0.3510586 ],
       [0.84078923],
       [0.69555415],
       [0.26605848],
       [0.90606113],
       [0.93248065],
       [0.66195119],
       [0.47759133],
       [0.27423333],
       [0.49166979],
       [0.80793597],
       [0.74991354],
       [0.63020269],
       [0.53511126],
       [0.6726431 ],
       [0.38412257],
       [0.32763845],
       [0.24085716],
       [0.2282736 ],
       [0.28059701],
       [0.11080754],
       [0.40972531],
       [0.37467563],
       [0.15531358],
       [0.37528289],
       [0.12401256],
       [0.15548949],
       [0.4161381 ],
       [0.51370636],
       [0.28468079],
       [0.60432377],
       [0.46541072],
       [0.71303917],
       [0.21931781],
       [0.73010924],
       [0.86645408],
       [0.23460922],
       [0.99421986],
       [0.37775736],
       [0.2486729 ],
       [0.21597214],
       [0.16430909],
       [0.04335306],
       [0.51142289],
       [0.4003901 ],
       [0.59841922],
       [0.25497978],
       [0.15783968],
       [0.35637014],
       [0.0050969 ],
       [0.8897672 ],
       [0.23073408],
       [0.91410883],
       [0.45217964],
       [0.98607   ],
       [0.34503931],
       [0.26308983],
       [0.41798117],
       [0.55229285],
       [0.55163194],
       [0.38895928],
       [0.46316618],
       [0.41533408],
       [0.54502927],
       [0.70210774],
       [0.96980516],
       [0.0834087 ],
       [0.14411785],
       [0.70921932],
       [0.75584431],
       [0.54245956],
       [0.11346137],
       [0.17024187],
       [0.87881526],
       [0.93042551],
       [0.8478765 ],
       [0.1689703 ],
       [0.86615302],
       [0.60733333],
       [0.45619867],
       [0.50163559],
       [0.21110975],
       [0.95447208],
       [0.86201009],
       [0.88750561],
       [0.30020617],
       [0.74285445],
       [0.15606326],
       [0.63363415],
       [0.83178337],
       [0.22649911],
       [0.16458293],
       [0.8887688 ],
       [0.03538837],
       [0.5031066 ],
       [0.02643941],
       [0.49734695],
       [0.88025126],
       [0.57913699],
       [0.91188502],
       [0.16671845],
       [0.84258925],
       [0.65923459],
       [0.75350185],
       [0.72229665],
       [0.62022385],
       [0.42878453],
       [0.50696184],
       [0.60663092],
       [0.23712593],
       [0.4885739 ],
       [0.28239499],
       [0.78889725],
       [0.02643026],
       [0.24339608],
       [0.48946325],
       [0.34875278],
       [0.81518828],
       [0.2939055 ],
       [0.44930825],
       [0.5712749 ],
       [0.58758613],
       [0.30528759],
       [0.02334645],
       [0.2095463 ],
       [0.09485114],
       [0.03743273],
       [0.9256413 ],
       [0.15341313],
       [0.80045994]])

In [56]:
corrupt = (installs < conda_outcome)
corrupt

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False]])

In [57]:
pd.Series(corrupt.sum(axis=1)).value_counts()

0    449
1      1
dtype: int64

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

- How likely is it that a food truck will show up sometime this week?

In [83]:
ft_outcome = .7

day_sim = 5

appearance = np.random.random((day_sim))
appearance

array([0.00089303, 0.46264147, 0.84817004, 0.32016962, 0.109153  ])

In [84]:
ft_odds = (appearance >= ft_outcome)
ft_odds

array([False, False,  True, False, False])

In [85]:
ft_odds.mean()

0.2

8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [158]:
people = 23
room_sim = 10_000
days = 365

In [161]:
birthday_sim = np.random.choice(days,(room_sim,people))
birthday_sim

array([[ 95, 263, 292, ..., 336, 360,  89],
       [209, 286, 329, ..., 167,  90,  57],
       [302, 249, 317, ..., 301,  85, 154],
       ...,
       [184, 196, 333, ...,  70, 109, 358],
       [ 56, 269,  24, ..., 157, 309, 319],
       [154, 232, 340, ..., 197, 273, 228]])

In [178]:
birthday_df = pd.DataFrame(birthday_sim)
birthday_df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,95,263,292,131,326,291,114,153,257,132,...,11,185,213,197,200,215,31,336,360,89
1,209,286,329,43,295,59,203,7,310,262,...,341,270,58,30,208,179,285,167,90,57
2,302,249,317,57,278,304,98,353,204,347,...,30,113,225,42,144,335,7,301,85,154
3,288,338,199,276,10,209,18,167,85,17,...,326,165,185,56,119,199,50,38,227,28
4,298,188,275,341,82,19,265,27,17,359,...,122,85,86,75,158,211,211,181,72,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,193,325,322,302,83,130,187,96,346,77,...,356,200,330,59,38,356,167,241,193,158
9996,275,75,178,54,53,285,103,228,363,162,...,101,115,20,206,162,281,8,72,207,247
9997,184,196,333,268,74,232,146,228,74,256,...,230,164,204,256,113,337,290,70,109,358
9998,56,269,24,252,352,181,262,51,171,24,...,230,270,51,130,167,175,296,157,309,319
9999,154,232,340,312,220,282,344,290,337,298,...,335,184,309,339,290,313,146,197,273,228

In [179]:
unique_bday = birthday_df.nunique(axis=1)
unique_bday

0       23
1       23
2       23
3       21
4       22
        ..
9995    21
9996    21
9997    21
9998    21
9999    22
Length: 10000, dtype: int64

In [180]:
birthday_df['birthday_matches'] = np.where((people-unique_bday) >= 1, 'yes', 'no')
birthday_df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,birthday_matches
0,95,263,292,131,326,291,114,153,257,132,...,185,213,197,200,215,31,336,360,89,no
1,209,286,329,43,295,59,203,7,310,262,...,270,58,30,208,179,285,167,90,57,no
2,302,249,317,57,278,304,98,353,204,347,...,113,225,42,144,335,7,301,85,154,no
3,288,338,199,276,10,209,18,167,85,17,...,165,185,56,119,199,50,38,227,28,yes
4,298,188,275,341,82,19,265,27,17,359,...,85,86,75,158,211,211,181,72,347,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,193,325,322,302,83,130,187,96,346,77,...,200,330,59,38,356,167,241,193,158,yes
9996,275,75,178,54,53,285,103,228,363,162,...,115,20,206,162,281,8,72,207,247,yes
9997,184,196,333,268,74,232,146,228,74,256,...,164,204,256,113,337,290,70,109,358,yes
9998,56,269,24,252,352,181,262,51,171,24,...,270,51,130,167,175,296,157,309,319,yes
9999,154,232,340,312,220,282,344,290,337,298,...,184,309,339,290,313,146,197,273,228,yes

In [181]:
match_count = len(birthday_df[birthday_df.birthday_matches == 'yes'])
match_count

4995

In [182]:
match_odds =  match_count/room_sim
match_odds

0.4995